# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
.env
.venv/
*.sqlite3

# LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.gz
*.fdb_latexmk
*.fls

# VS Code
.vscode/

# Data outputs
source/data/videos/
source/data/frames/
source/data/descriptions/
test/data/
*.csv

# Ollama cache
ollama_models/
